| The bot is a simple way to post messages from external sources into Telegram.
|
| Your address for sending messages: [#{url}](#{url})
|
| List of supported parameters for text messages:
|
| `text` (string, required) - text of the message you want to send;
| `parse_mode` (string, optional) - send Markdown or HTML, if you want Telegram apps to show bold, italic, fixed-width text or inline URLs in your bot's message;
| `disable_web_page_preview` (boolean, optional) - disables link previews for links in this message;
| `disable_notification` (boolean, optional) - sends the message silently, users will receive a notification with no sound.
|
| Example: [#{url}?text=hello](#{url}?text=hello)